In [14]:
import pandas as pd
import numpy as np

import pickle

from Constants import *

from scipy.sparse import csr_matrix, dok_matrix
from scipy import sparse

from sklearn.feature_extraction.text import TfidfTransformer

In [31]:
df_newspaper_speaker_count = pd.read_csv(FILE_NEWSPAPER_SPEAKER_COUNT, compression='bz2')
df_newspaper_speaker_count

         newspaper          speaker  count
0          1011now     adam morfeld      4
1          1011now      adam schiff      2
2          1011now     adrian smith      2
3          1011now  alexandra brown      1
4          1011now  alfonso morales      1
...            ...              ...    ...
2434405  zigwheels   srinivas reddy      1
2434406  zigwheels       toby price      1
2434407  zigwheels     yash aradhya      1
2434408      zip06      mike caruso     16
2434409      zip06             none      2

[2434410 rows x 3 columns]

### Create newspaper set and indexes
We create the sorted set of newspapesr and the indexes to link the matrix entries to newspapers.

In [32]:
newspapers = set(df_newspaper_speaker_count.newspaper)
newspapers = sorted(list(newspapers))
newspaper_to_index = {s:i for i,s in enumerate(newspapers)}
index_to_newspaper = {i:s for i,s in enumerate(newspapers)}

In [33]:
with open(PICKLE_NEWSPAPER_TO_INDEX, 'wb') as handle:
    pickle.dump(newspaper_to_index, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [34]:
with open(PICKLE_INDEX_TO_NEWSPAPER, 'wb') as handle:
    pickle.dump(index_to_newspaper, handle, protocol=pickle.HIGHEST_PROTOCOL)

### Create speaker set and indexes
We create the sorted set of speakers and the indexes to link the matrix entries to speakers.

In [42]:
speakers = set(df_newspaper_speaker_count.speaker)
speakers.remove("none")
speakers = sorted(list(speakers))

speaker_to_index = {s:i for i,s in enumerate(speakers)}
index_to_speaker = {i:s for i,s in enumerate(speakers)}

    
with open(PICKLE_SPEAKER_TO_INDEX, 'wb') as handle:
    pickle.dump(speaker_to_index, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open(PICKLE_INDEX_TO_SPEAKER, 'wb') as handle:
    pickle.dump(index_to_speaker, handle, protocol=pickle.HIGHEST_PROTOCOL)

212146
212145
[' hacksaw  jim duggan', ' hang', ' lane', ' mad mike ', ' palmer', ' rich', ' rowdy  roddy piper', ' sandy  alex g', ' superstar  billy graham', ' the fox ']

### Create frequency matrix
We generate a frequency matrix #newspaper x #speaker: entry (i,j) is the number of time speaker j appears in newspaper i.

In [37]:
newspaper_speaker_frequency_matrix = dok_matrix((len(newspapers), len(speakers)), dtype=np.uint32)

df_newspaper_speaker_count_not_none = df_newspaper_speaker_count[df_newspaper_speaker_count['speaker']!='none']
for index, row in df_newspaper_speaker_count_not_none.iterrows():
    if index % 10000==0:
        print(index)
    index_speaker = speaker_to_index[row['speaker']]
    index_newspaper = newspaper_to_index[row['newspaper']]
    newspaper_speaker_frequency_matrix[index_newspaper, index_speaker] = row["count"]
    
newspaper_speaker_frequency_csr = newspaper_speaker_frequency_matrix.tocsr()

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000
2020000
2030000
2040000
2050000
2060000
2070000
2080000
2090000
2100000
2110000
2120000
2130000
2140000
2150000
2160000
2170000
2180000
2190000
2200000
2210000
2220000
2230000
2240000
2250000
2260000
2270000
2280000
2290000
2300000
2310000
2320000
2330000
2340000
2350000
2360000
2370000
2380000
2390000
2400000
2410000
2420000
2430000

### Create TF-IDF matrix
Transform the frequency matrix into a TF-IDF matrix. Each row is normalised and each column is scaled by proportionnaly to the number of newspaper in which the speaker is quoted.

In [38]:
transformer = TfidfTransformer()
newspaper_speaker_tfidf = transformer.fit_transform(newspaper_speaker_frequency_csr)

### Save TF-IDF matrix

In [39]:
sparse.save_npz(FILE_NEWSPAPER_SPEAKER_TFIDF, newspaper_speaker_tfidf)