In [1]:
import pandas as pd
import bz2
import json

In [2]:
FILE_IN = 'quotes-2015.json.bz2'
FILE_OUT = 'processed-quotes-2015.csv.bz2'

In [3]:
json_reader = pd.read_json(FILE_IN,lines=True,chunksize=1_000,compression='bz2') 
LIMIT = 1

for (df_chunk,counter) in zip(json_reader,range(LIMIT)):
    print(df_chunk.iloc[:10])
    add_header = (counter==0)
    write_mode = 'w' if counter == 0 else 'a'
    df_chunk.to_csv(FILE_OUT,header = add_header,index=False, mode=write_mode,compression='bz2') # writing in the new file

             quoteID                                          quotation  \
0  2015-08-31-000271  ... a great day for veterans here in Littleton...
1  2015-12-08-029916  How FFA scored 32 own goals in 18 months and C...
2  2015-09-10-000206  [ Amy ] was placed under an unacceptable amoun...
3  2015-07-23-032707                    How High Will These Numbers Go?
4  2015-10-04-000115  [ Ban ] recalls that hospitals and medical per...
5  2015-06-19-016191  How Indian values and karma can help business ...
6  2015-08-31-000309  [ But ] We were able to network within our com...
7  2015-09-21-030618  How it worked is that they had a keyboard and ...
8  2015-12-10-000332  [ C ] harter operators working through third-p...
9  2015-06-18-018819  How long do you think it'll take for Donald Tr...

                speaker                                               qids  \
0        Jeanne Shaheen                                          [Q270316]
1                  None                                                 []
2                  None                                                 []
3                  None                                                 []
4           Ban Ki-moon                                            [Q1253]
5  Sri Sri Ravi Shankar                                          [Q468374]
6            Jamal Rifi                                        [Q19874690]
7    Richard Burmeister                                        [Q18601741]
8         Diane Ravitch                                         [Q5271548]
9        Chris Matthews  [Q15735939, Q25189328, Q5107375, Q5110828, Q51...

                 date  numOccurrences  \
0 2015-08-31 02:10:00               2
1 2015-12-08 00:00:00               2
2 2015-09-10 21:18:59               1
3 2015-07-23 14:57:49               3
4 2015-10-04 08:27:38               2
5 2015-06-19 15:32:16               1
6 2015-08-31 22:59:36               1
7 2015-09-21 19:00:00               1
8 2015-12-10 17:51:45               1
9 2015-06-18 10:00:00               1

                                              probas  \
0  [[Jeanne Shaheen, 0.742], [None, 0.2359], [Kel...
1             [[None, 0.563], [David Gallop, 0.437]]
2           [[None, 0.9634], [Amy Robinson, 0.0366]]
3         [[None, 0.9019], [Chubby Checker, 0.0981]]
4            [[Ban Ki-moon, 0.8399], [None, 0.1601]]
5  [[Sri Sri Ravi Shankar, 0.4169], [None, 0.2844...
6             [[Jamal Rifi, 0.6109], [None, 0.3891]]
7       [[Richard Burmeister, 0.875], [None, 0.125]]
8          [[Diane Ravitch, 0.8078], [None, 0.1922]]
9  [[Chris Matthews, 0.3869], [None, 0.3198], [Do...

                                                urls phase
0  [http://www.unionleader.com/article/20150831/N...     E
1  [http://feeds.theroar.com.au/~r/theroar/~3/tZ3...     E
2  [http://www.thefashionspot.com/buzz-news/lates...     E
3  [http://www.billboard.com/node/6641719, http:/...     E
4  [http://muslimnews.co.uk/news/middle-east/afgh...     E
5  [http://newkerala.com/news/2015/fullnews-74877...     E
6  [http://sbs.com.au/content/muslim-leader-named...     E
7  [http://sarahrosedevilliers.wordpress.com/2015...     E
8  [http://enewspf.com/2015/12/10/report-shows-ho...     E
9  [http://talkingpointsmemo.com/dc/donald-trump-...     E

In [17]:
json_reader = pd.read_csv(FILE_OUT,chunksize=1_000,compression='bz2') 
LIMIT = 10

for (df_chunk,counter) in zip(json_reader,range(LIMIT)):
    print(df_chunk.columns)
    print(df_chunk)

Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase'],
      dtype='object')
               quoteID                                          quotation  \
0    2015-08-31-000271  ... a great day for veterans here in Littleton...
1    2015-12-08-029916  How FFA scored 32 own goals in 18 months and C...
2    2015-09-10-000206  [ Amy ] was placed under an unacceptable amoun...
3    2015-07-23-032707                    How High Will These Numbers Go?
4    2015-10-04-000115  [ Ban ] recalls that hospitals and medical per...
..                 ...                                                ...
995  2015-08-28-034620  I have never said I would quit this club becau...
996  2015-11-01-004737  And tomorrow I'm going to be thinking of my mo...
997  2015-06-24-018085  I have never seen a suspect behave in such a d...
998  2015-02-02-004250  And unfortunately, with the play that we tried...
999  2015-07-26-019732  I have never seen so many little kids and I've...

             speaker          qids                 date  numOccurrences  \
0     Jeanne Shaheen   ['Q270316']  2015-08-31 02:10:00               2
1               None            []  2015-12-08 00:00:00               2
2               None            []  2015-09-10 21:18:59               1
3               None            []  2015-07-23 14:57:49               3
4        Ban Ki-moon     ['Q1253']  2015-10-04 08:27:38               2
..               ...           ...                  ...             ...
995    Dick Advocaat    ['Q11949']  2015-08-28 14:54:04               1
996  Edinson Volquez  ['Q3047610']  2015-11-01 05:24:58               7
997             None            []  2015-06-24 12:45:25               1
998             None            []  2015-02-02 06:45:00               3
999             None            []  2015-07-26 11:45:14               1

                                                probas  \
0    [['Jeanne Shaheen', '0.742'], ['None', '0.2359...
1       [['None', '0.563'], ['David Gallop', '0.437']]
2     [['None', '0.9634'], ['Amy Robinson', '0.0366']]
3    [['None', '0.9019'], ['Chubby Checker', '0.098...
4      [['Ban Ki-moon', '0.8399'], ['None', '0.1601']]
..                                                 ...
995  [['Dick Advocaat', '0.9395'], ['None', '0.0605']]
996  [['Edinson Volquez', '0.7034'], ['None', '0.29...
997  [['None', '0.9088'], ['Susan Alexander', '0.09...
998  [['None', '0.9335'], ['Jermaine Kearse', '0.03...
999        [['None', '0.9299'], ['Pee Wee', '0.0701']]

                                                  urls phase
0    ['http://www.unionleader.com/article/20150831/...     E
1    ['http://feeds.theroar.com.au/~r/theroar/~3/tZ...     E
2    ['http://www.thefashionspot.com/buzz-news/late...     E
3    ['http://www.billboard.com/node/6641719', 'htt...     E
4    ['http://muslimnews.co.uk/news/middle-east/afg...     E
..                                                 ...   ...
995  ['http://www.bbc.co.uk/sport/0/football/340899...     E
996  ['http://scores.espn.go.com/mlb/playoffs2015/s...     E
997  ['http://feeds.theguardian.com/c/34708/f/66382...     E
998  ['http://www.latimes.com/sports/nfl/la-sp-supe...     E
999  ['http://stwnewspress.com/news/youth-show-futu...     E

[1000 rows x 9 columns]

In [ ]:
def process_df(file_in,file_out,process_fn,chunk_to_process=1,chunk_size=1_000):
   
    '''
    
    
    '''
    json_reader = pd.read_json(file_in,lines=True,chunksize=chunk_size,compression='bz2') 
    
    for (df_chunk,counter) in zip(json_reader,range(chunk_to_process)):
        
        new_df_chunk = process_fn(df)
        
        add_header = (counter==0)
        write_mode = 'w' if counter == 0 else 'a'
        new_df_chunk.to_csv(file_out,header = add_header,index=False, mode=write_mode,compression='bz2') # writing to the new file